[project]
	description = training repository for git training
[access "refs/*"]
	owner = group user/Juraj Martinka (jumarko)
[access "refs/for/refs/*"]
	read = group user/Juraj Martinka (jumarko)
	push = group user/Juraj Martinka (jumarko)
	label-Code-Review = -2..+2 group user/Juraj Martinka (jumarko)
	label-Verified = -1..+1 group user/Juraj Martinka (jumarko)
	rebase = group user/Juraj Martinka (jumarko)
	removeReviewer = group user/Juraj Martinka (jumarko)
	submit = group user/Juraj Martinka (jumarko)
[access "refs/heads/*"]
	read = group user/Juraj Martinka (jumarko)
	create = group user/Juraj Martinka (jumarko)
	push = +force group user/Juraj Martinka (jumarko)
	pushMerge = group user/Juraj Martinka (jumarko)
[access "refs/tags/*"]
	push = +force group user/Juraj Martinka (jumarko)
	pushTag = group user/Juraj Martinka (jumarko)
	pushSignedTag = group user/Juraj Martinka (jumarko)
